@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  height: 60px;
  background-color: #3f0071;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 45px;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}

li a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.header {
  background-image: url("../images/new-pt-img.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.comp-name {
  color: #fff;
  padding-top: 25%;
  font-size: 7rem;
  font-family: Skranji, sans-serif;
}

.sub-heading p {
  color: #fff;
  padding-left: 450px;
  padding-bottom: 300px;
  font-family: Caveat, sans-serif;
  font-size: 40px;
}

.about {
  background-color: #000;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-gym {
  flex: 2;
  padding-right: 50px;
  color: white;
  line-height: 1.5;
  font-size: 20px;
}

.about-pic1 {
  max-width: 400px;
  overflow: hidden;
}

.btn a {
  color: black;
  text-align: center;
  width: 100%;
  text-decoration: none;
  background-color: white;
  padding: 5px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn {
  padding-top: 30px;
}

.btn a:hover {
  background-color: rgb(38, 35, 35);
  color: white;
}

/*Membership section*/

.membership {
  background-color: #150050;
}

.membership .container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
  max-width: 1500px;
}

.headings {
  text-align: center;
  color: white;
  font-size: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.types-of-membership {
  border: 1px solid black;
  flex: 1;
  margin: 20px 30px;
  background: lightgrey;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px #fb2576;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.types-of-membership:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.fa-check {
  color: green;
}

.fa-xmark {
  color: red;
}

.types-of-membership i {
  margin-right: 10px;
}

.types-of-membership h2 {
  color: #150050;
}

.types-of-membership p {
  padding-top: 10px;
}

div.price {
  padding: 15px 5px;
  text-align: center;
}

.types-of-membership li {
  padding: 6px 10px;
  font-weight: bold;
}

.cost {
  font-weight: 200;
  font-size: 40px;
  display: inline;
  color: #150050;
}

hr {
  border-style: solid;

  color: #3f0071;
}

.per-month {
  font-weight: 100;
  font-size: 18px;
  display: inline;
}

.btn-membership {
  text-align: center;
}

.btn-membership a {
  text-align: center;
  font-size: 25px;
  background-color: #3f0071;
  color: #fb2576;
  text-align: center;
}

.btn-membership a:hover {
  background-color: #fb2576;
  color: #3f0071;
}

/*PT Section*/

.instructors {
  background-color: #3f0071;
}

.instructors .container {
  display: flex;
  justify-content: space-evenly;
  max-width: 2000px;
  padding-bottom: 60px;
}

.pt-bio p {
  flex: 1;
  padding-right: 50px;
  color: white;
  line-height: 1.5;
  font-size: 17px;
  margin-top: 40px;
}

.instructors img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 150px;
  margin-right: 30px;
}

.pt4 {
  background-color: white;
}

.fa-quote-right,
.fa-quote-left {
  padding: 10px;
}

/* Contact us  */

.contact-us {
  background-color: #150050;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.contact-us .container {
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
}

.contact-us p {
  color: white;
  text-align: center;
}

.contact-form {
  padding: 40px;
  width: 90%;
}

.contact-form form {
  background-color: #3f0071;
  text-align: center;
  color: white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 20px;
}

.contact-form label {
  font-size: 20px;
}

input {
  margin: 5px;
  height: 30px;
  width: 90%;
}

.msgBtn {
  background-color: #000;
  color: #ffff;
  height: 30px;
  width: 150px;
  margin: 30px;
  font-size: 25px;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.msgBtn:hover {
  color: #000;
  background-color: #ffff;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

footer {
  background-color: #000;
  padding-top: 60px;
}

footer p {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.fa-brands {
  color: #fb2576;
  margin: 20px 20px;
}

.social-media {
  display: inline-block;
  padding-top: 20px;
  text-align: left;
}

.fa-instagram {
  padding-left: 100px;
}

@media (max-width: 1279px) {
  .membership .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    width: 60%;
  }

  .instructors .container {
    display: block;
    text-align: center;
    padding-bottom: 0;
  }

  .pt-bio p {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  h1.comp-name {
    font-size: 60px;
  }
  .sub-heading p {
    padding-left: 300px;
    padding-bottom: 100px;
  }
  div img.about-pic1 {
    width: 250px;
  }
  .about {
    padding-top: 30px;
  }
  .about-gym p {
    font-size: 15px;
    font-weight: 200;
  }
  h2.headings {
    padding-left: 20px;
    padding-right: 20px;
  }
  .fa-instagram {
    padding-left: 50px;
  }
}

@media (max-width: 480px) {
  .headings {
    font-size: 35px;
    padding-bottom: 20px;
  }
  .about .container {
    background-image: url("../images/about-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about {
    padding-top: 0;
  }

  h1.comp-name {
    font-size: 40px;
    padding-top: 200px;
  }
  .sub-heading p {
    padding-left: 150px;
    font-size: 30px;
  }
  img.about-pic1 {
    visibility: hidden;
    position: absolute;
  }
  .about-gym .btn {
    text-align: center;
    padding-bottom: 20px;
  }

  div.about-gym {
    padding-right: 0;
    padding-bottom: 40px;
  }

  .about-gym p {
    color: #fff;
    padding: 50px 30px;
  }

  .membership .container {
    width: 85%;
  }

  .instructors .container {
    width: 85%;
  }

  .pt-bio p {
    width: 100%;
    margin: 0 5px;
    font-size: 16px;
    text-align: left;
  }

  p.respond-time {
    padding-top: 15px;
    font-weight: 600;
  }
  .contact-us p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
  }

  div.contact-form {
    width: 90%;
    padding: 20px 0 10px 0;
  }

  footer p {
    font-size: 10px;
  }

  footer .container {
    text-align: center;
  }
  .fa-instagram {
    padding-left: 0;
  }
}
